* {
    margin: 0;
    padding: 0;
}

main * {
    border-radius: 15px;
}

button {
    padding: 5px;
    border: solid rgb(185, 185, 185);
    border-radius: 10px;
    font-size: 1.2em;
}

button:hover {
    background: rgb(164, 164, 164);
}

button:active {
    background-color: rgb(143, 143, 143);
}

textarea {
    font-size: 1.3em;
}

main {
    grid-area: m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    height: 100vh;
}

aside {
    grid-area: a;
    position: relative;
}

aside button {
    position: relative;

}

body {
    display: grid;
    grid-template-areas: "m s a";
    grid-template-columns: 2fr 0px 1fr;

}

.add-cont {
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.write-to {
    margin-left: 10px;
    height: 40vh;
}

.write-to .text-area {
    resize: vertical;
    width: 93%;
    max-height: 90%;
}

.exp-imp {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}